<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory> 

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<!--Configuração para corrigir o erro de time zone  -->
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/drogaria?useTimezone=true&amp;serverTimezone=UTC</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<!-- <property name="hibernate.jdbc.time_zone">UTC</property> -->

		<!-- Pool de Conexões -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados --> 
		<!-- Pode receber parametros diferentes -->
		<property name="hbm2ddl.auto">create</property>
		
		<!-- Mapeamento das Entidades -->
		<mapping class="br.com.drogaria.domain.Estado"></mapping>
		<mapping class="br.com.drogaria.domain.Cidade"></mapping>
		<mapping class="br.com.drogaria.domain.Fabricante"></mapping>
		<mapping class="br.com.drogaria.domain.Produto"></mapping>
		<mapping class="br.com.drogaria.domain.Pessoa"></mapping>
		<mapping class="br.com.drogaria.domain.Cliente"></mapping>
		<mapping class="br.com.drogaria.domain.Funcionario"></mapping>
		<mapping class="br.com.drogaria.domain.Venda"></mapping>
		<mapping class="br.com.drogaria.domain.ItemVenda"></mapping>
		
	</session-factory>

</hibernate-configuration>